<section class="justify-content-center align-items-center mt-2 mb-2 d-flex flex-column">
    <div class="card container-contact mb-4 ">
        <div class="card-header linea-contenedor bg-white d-flex text-center gap-2">
            <img src="./Image/Icons/login.svg" class="icon-head" alt="Logo" class="logo">
            <h4 class="card-title title text-center"><span>Iniciar Sesión</span></h4>
        </div>
        <form id="form">
            <div class="card-body bg-white">
                <article class="align-items-center">
                    <div class="container-fluid mb-2">
                        <div class="container mb-lg-4">
                            <center>
                                <img src="./Image/Shop-D_D.webp" alt="Logo" class="img-fluid" width="100">
                            </center>
                        </div>
                        <div class="input-group mb-2 mt-2">
                            <span class="input-group-text">
                                <img src="./Image/Icons/account.svg" alt="username" class="icon-form darken"
                                    loading="lazy" />
                            </span>
                            <div class="form-floating flex-grow-1">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Usuario" required />
                                <label for="username">Usuario</label>
                            </div>
                        </div>
                        <div class="input-group mb-2 mt-2">
                            <span class="input-group-text">
                                <img src="./Image/Icons/password.svg" alt="Id_homework" class="icon-form darken"
                                    loading="lazy" />
                            </span>
                            <div class="form-floating flex-grow-1">
                                <input type="text" class="form-control" id="password" name="password"
                                    placeholder="Enter your Id" required />
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card-footer bg-white gap-2 justify-content-center">
                <button type="submit" class="btn btn-secondary w-100 p-sm-2">Iniciar Sesión</button>
            <center class="bg-white">
                <a class="href-custom" href="#/registro-usuario">¿Ya te registraste? ¡Hazlo ahora!</a>
            </center>
            </div>
            
        </form>
    </div>

</section>